* {
  box-sizing: border-box;
}

@font-face {
  src: url(./assets/fonts/NetflixSans-Regular.otf);
  font-family: NefilxSans-Regular;
}

html {
  font-family: NetflixSans-Regular;
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: white;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
